@model IEnumerable<TE_CODEFIRST.Models.Trainee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="text-bg-success"><i class="fa-solid fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tfirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tlastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tfirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tlastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                    <a asp-action="Edit" class="text-warning" asp-route-id="@item.Tid"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" class="text-info" asp-route-id="@item.Tid"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" class="text-danger" asp-route-id="@item.Tid"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
